body {
	font-size: 18px;
}

a {
	color: #fff;
}
a:hover {
	color: #EF957D;
	text-decoration: none;
}

.divider-vertical {
	margin: 0 10px;
	border-left: 1px solid #ddd;
}

.navbar-inner .container-fluid div {
	margin: 10px 0;
}

a.brand span.super {
	color: #FFA992;
	font-size: 0.8em;
	vertical-align: super;
}

.small {
	font-size: 0.85em;
}

.item {
	min-width: 240px;
	height: 220px;
	position: relative;
	
	margin: 8px;
	
	float: none;
	display: inline-block;
	
	font-size: 13px;
	text-align: left;
	color: #fff;
	
	overflow: hidden;
}

.itemlink {
	width: 100%;
	
	padding: 0;
}

.item span a {
	color: #F2BBB1;
}

.item span a:hover {
	color: #E86946;
}

.item span {
	display: inline-block;
}

.item hr {
	margin: 5px 0;
	border-top: none;
}

.item .divider-vertical {
	margin: 0 4px;
	border-left: 1px solid #bbb;
	display: inline;
}

.itemlink .inner {
	width: auto;
	height: 204px; /* item height - (border size * 2) */
	
	padding: 0;
	margin: 0;	
	
	border: 8px solid #D44413;
	
	box-shadow: 0 0 12px #D44413;
	-moz-box-shadow: 0 0 12px #D44413;
	-webkit-box-shadow: 0 0 12px #D44413;
	
}
.itemlink:hover .inner,
.itemlink .inner:hover {
	border: 8px solid #A82805;
}

.itemlink:visited .inner {
	border: 8px solid #DDD;
}
.itemlink:visited .inner:hover {
	border: 8px solid #CCC;
}

.item .bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: 8px;
	min-height: 33.3%;
	
	background: rgba(0,0,0,0.85);
	
	z-index: 100;
}

.item .content {
	margin: 5px 8px;
	width: auto;
}

.item .title {
	font-weight: bold;
	font-size: 19px;
	letter-spacing: -0.04em;
}
.item .title:visited {
	color: #666;
}

#grid {
	margin: 0 8px;
	list-style: none;
	
	text-align: center;
}
